
 <li>@Html.ActionLink("Home", "Index", "Angular")</li>
<li>@Html.ActionLink("Calculate LTV", "SimpleIntroduction", "Angular")</li>
        <li>@Html.ActionLink("Calculate a Payment", "MortgageCalculator", "Angular")</li>
        <li>@Html.ActionLink("Apply", "Apply", "Angular")</li>
       